@media (max-width: 1200px) {

}

@media (max-width: 991px) {
    .promo {
        .header {
            display: flex;
            justify-content: space-around;
        }
        &__header {
            font-size: 35px;
            line-height: 23px;
        }
        &__subheader {
            font-size: 20px;
        }
    }
    .consultation {
        &__title {
            font-size: 30px;
        }
        &__descr {
            font-size: 18px;
        }
    }
    .carusel {
        &__inner, .slick-initialized, .slick-slider {
            width: 700px;
        }
        .slick-slide, .slick-current, .slick-active {
            img {
                width: 100%;
            }
        }
    }
        

}
    
@media (max-width: 767px) {
    .promo {
        min-height: 600px;
        padding-bottom: 60px;
        .header {
            display: flex;
            justify-content: space-around;
        }
        &__header {
            font-size: 32px;
            line-height: 10px;
        }
        &__subheader {
            font-size: 17px;
        }
        &__wraper {
            margin-right: 30px;
        }
    }
    .info {
        padding: 50px 0 70px 0;
        &__header {
            font-size: 27px;
        }
    }
    .consultation {
        padding: 70px 0 60px 0;
        min-height: 600px;
        &__title {
            font-size: 27px;
        }
    }
    .carusel {
        &__inner, .slick-initialized, .slick-slider {
            width: 600px;
        }
        .slick-slide, .slick-current, .slick-active {
            img {
                width: 100%;
            }
        }
    }
    .catalog {
        .catalog-item {
            width: 240px;
            &__new-price {
                font-size: 18px;
            }
            .button__catalog-item {
                width: 100px;
            }
        }
    }
    .forum {
        .title {
            font-size: 25px;
        }
        &__item {
            img {
                max-width: 140px;
                max-height: 140px;
            }
            &_descr {
                .post {
                    max-width: 490px;
                }
            }
        }
    }



}
@media (max-width: 575px) {

}
   