@import "../base/variables";


*{
    font-family: 'Museo Sans Cyrl', sans-serif;
    box-sizing: 0;
}

.container{
    max-width: 950px;
    margin: 0 auto;
    padding: 0 15px;
}

@import "../blocks/promo";
@import "../blocks/header";
@import "../blocks/buttons";
@import "../blocks/info";
@import "../blocks/consultation";
@import "../blocks/forms";
@import "../blocks/media";
@import "../blocks/carusel";
@import "./title";
@import "./catalog";
@import "./forum";
@import "./footer";
@import "./modal";
@import "./pageup";



